// white
$White: #ffffff;

// Red
$R50: #faf5f4;
$R75: #f6d4cb;
$R100: #faa691;
$R200: #e66b4c;
$R400: #bc654f;
$R600: #955c4e;
$R800: #6b4940;
$R900: #43322e;

// Yellow
$Y50: #f8f5f1;
$Y75: #f7dec3;
$Y100: #fcc58b;
$Y200: #fbb66c;
$Y400: #dd9b6c;
$Y600: #af8160;
$Y800: #785d4a;
$Y900: #514238;

// Purple
$P50: #f3f2f8;
$P75: #ddd8f0;
$P100: #b0a2e5;
$P200: #7963cf;
$P400: #685a9e;
$P600: #595178;
$P800: #454058;
$P900: #322f3c;

// Green
$G50: #f2f8f5;
$G75: #daf2e4;
$G100: #a3e6bf;
$G200: #60d290;
$G400: #64b385;
$G600: #538166;
$G800: #496555;
$G900: #2d3c34;

// Ocean
$O50: #f3f7f9;
$O75: #d9ebf7;
$O100: #98cef3;
$O200: #33adff;
$O400: #459dd9;
$O600: #538eb6;
$O800: #507085;
$O900: #2c363c;

// Neutral
$N50: #f6f9fa;
$N75: #e8edf0;
$N100: #ced5da;
$N200: #9da4a8;
$N400: #71787d;
$N600: #586065;
$N800: #373e43;
$N900: #24292d;

// text white
.brand-text-white {
  color: $White;
}

// text red
.brand-text-r50 {
  color: $R50;
}
.brand-text-r75 {
  color: $R75;
}
.brand-text-r100 {
  color: $R100;
}
.brand-text-r200 {
  color: $R200;
}
.brand-text-r400 {
  color: $R400;
}
.brand-text-r600 {
  color: $R600;
}
.brand-text-r800 {
  color: $R800;
}
.brand-text-r900 {
  color: $R900;
}

// text yellow
.brand-text-y50 {
  color: $Y50;
}
.brand-text-y75 {
  color: $Y75;
}
.brand-text-y100 {
  color: $Y100;
}
.brand-text-y200 {
  color: $Y200;
}
.brand-text-y400 {
  color: $Y400;
}
.brand-text-y600 {
  color: $Y600;
}
.brand-text-y800 {
  color: $Y800;
}
.brand-text-y900 {
  color: $Y900;
}

// text purple
.brand-text-p50 {
  color: $P50;
}
.brand-text-p75 {
  color: $P75;
}
.brand-text-p100 {
  color: $P100;
}
.brand-text-p200 {
  color: $P200;
}
.brand-text-p400 {
  color: $P400;
}
.brand-text-p600 {
  color: $P600;
}
.brand-text-p800 {
  color: $P800;
}
.brand-text-p900 {
  color: $P900;
}

// text green
.brand-text-g50 {
  color: $G50;
}
.brand-text-g75 {
  color: $G75;
}
.brand-text-g100 {
  color: $G100;
}
.brand-text-g200 {
  color: $G200;
}
.brand-text-g400 {
  color: $G400;
}
.brand-text-g600 {
  color: $G600;
}
.brand-text-g800 {
  color: $G800;
}
.brand-text-g900 {
  color: $G900;
}

// text ocean
.brand-text-o50 {
  color: $O50;
}
.brand-text-o75 {
  color: $O75;
}
.brand-text-o100 {
  color: $O100;
}
.brand-text-o200 {
  color: $O200;
}
.brand-text-o400 {
  color: $O400;
}
.brand-text-o600 {
  color: $O600;
}
.brand-text-o800 {
  color: $O800;
}
.brand-text-o900 {
  color: $O900;
}

// text neutral
.brand-text-n50 {
  color: $N50;
}
.brand-text-n75 {
  color: $N75;
}
.brand-text-n100 {
  color: $N100;
}
.brand-text-n200 {
  color: $N200;
}
.brand-text-n400 {
  color: $N400;
}
.brand-text-n600 {
  color: $N600;
}
.brand-text-n800 {
  color: $N800;
}
.brand-text-n900 {
  color: $N900;
}

// background white
.brand-bg-white {
  background-color: $White;
}

// background red
.brand-bg-r50 {
  background-color: $R50;
}
.brand-bg-r75 {
  background-color: $R75;
}
.brand-bg-r100 {
  background-color: $R100;
}
.brand-bg-r200 {
  background-color: $R200;
}
.brand-bg-r400 {
  background-color: $R400;
}
.brand-bg-r600 {
  background-color: $R600;
}
.brand-bg-r800 {
  background-color: $R800;
}
.brand-bg-r900 {
  background-color: $R900;
}

// background yellow
.brand-bg-y50 {
  background-color: $Y50;
}
.brand-bg-y75 {
  background-color: $Y75;
}
.brand-bg-y100 {
  background-color: $Y100;
}
.brand-bg-y200 {
  background-color: $Y200;
}
.brand-bg-y400 {
  background-color: $Y400;
}
.brand-bg-y600 {
  background-color: $Y600;
}
.brand-bg-y800 {
  background-color: $Y800;
}
.brand-bg-y900 {
  background-color: $Y900;
}

// background purple
.brand-bg-p50 {
  background-color: $P50;
}
.brand-bg-p75 {
  background-color: $P75;
}
.brand-bg-p100 {
  background-color: $P100;
}
.brand-bg-p200 {
  background-color: $P200;
}
.brand-bg-p400 {
  background-color: $P400;
}
.brand-bg-p600 {
  background-color: $P600;
}
.brand-bg-p800 {
  background-color: $P800;
}
.brand-bg-p900 {
  background-color: $P900;
}

// background green
.brand-bg-g50 {
  background-color: $G50;
}
.brand-bg-g75 {
  background-color: $G75;
}
.brand-bg-g100 {
  background-color: $G100;
}
.brand-bg-g200 {
  background-color: $G200;
}
.brand-bg-g400 {
  background-color: $G400;
}
.brand-bg-g600 {
  background-color: $G600;
}
.brand-bg-g800 {
  background-color: $G800;
}
.brand-bg-g900 {
  background-color: $G900;
}

// background ocean
.brand-bg-o50 {
  background-color: $O50;
}
.brand-bg-o75 {
  background-color: $O75;
}
.brand-bg-o100 {
  background-color: $O100;
}
.brand-bg-o200 {
  background-color: $O200;
}
.brand-bg-o400 {
  background-color: $O400;
}
.brand-bg-o600 {
  background-color: $O600;
}
.brand-bg-o800 {
  background-color: $O800;
}
.brand-bg-o900 {
  background-color: $O900;
}

// background neutral
.brand-bg-n50 {
  background-color: $N50;
}
.brand-bg-n75 {
  background-color: $N75;
}
.brand-bg-n100 {
  background-color: $N100;
}
.brand-bg-n200 {
  background-color: $N200;
}
.brand-bg-n400 {
  background-color: $N400;
}
.brand-bg-n600 {
  background-color: $N600;
}
.brand-bg-n800 {
  background-color: $N800;
}
.brand-bg-n900 {
  background-color: $N900;
}