.brand-nav-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.brand-scrollbar {
  scrollbar-color: #e6e8eb transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e6e8eb;
    border-radius: 3px;
  }
  &:hover {
    scrollbar-color: #caccd0 #f6f8fa;
    scrollbar-width: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background-color: #f6f8fa;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #caccd0;
      border-radius: 4px;
    }
  }
}

.brand-avatar {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}