@import './colors.scss';
@import './fonts.scss';

.brand-dropdown {
  background-color: $White;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px rgba(19, 28, 47, 0.08);
  position: relative;
  padding: 6px 0;
  display: inline-block;
  &:before,
  &:after {
    position: absolute;
    content: '';
    z-index: -1;
    border-radius: 4px;
    background-color: $White;
  }
  &:before {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    box-shadow: 0px 4px 6px 0px rgba(19, 28, 47, 0.16);
  }
  &:after {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    box-shadow: 0px 24px 32px 0px rgba(19, 28, 47, 0);
  }
  &__item {
    margin: 2px 0;
    padding: 4px 16px;
    color: #223458;
    font-size: 18px;
    font-family: $font-medium;
    text-align: center;
    line-height: 28px;
    &:hover {
      background-color: #e8edf0;
      cursor: pointer;
    }
  }
}