.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.h600 {
  font-size: 48px;
  font-family: NotoSans-Bold;
  line-height: 60px;
}

.h500 {
  font-size: 32px;
  font-family: NotoSans-Bold;
  line-height: 40px;
}

.h400 {
  font-size: 24px;
  font-family: NotoSans-Bold;
  line-height: 36px;
}

.h300 {
  font-size: 21px;
  font-family: NotoSans-Bold;
  line-height: 28px;
}

.h200 {
  font-size: 18px;
  font-family: NotoSans-Bold;
  line-height: 24px;
}

.h100 {
  font-size: 15px;
  font-family: NotoSans-Bold;
  line-height: 20px;
}

.paragraph {
  font-size: 17px;
  font-family: NotoSans-Medium;
  line-height: 28px;
}

.paragraph-sm {
  font-size: 15px;
  font-family: NotoSans-Regular;
  line-height: 24px;
}

.font-regular {
  font-family: NotoSans-Regular;
}

.font-medium {
  font-family: NotoSans-Medium;
}

.font-bold {
  font-family: NotoSans-Bold;
}